<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <h1>
            Add user
        </h1>
    </body>
    <script>
        $.ajax({
            type:'post',
            url:'/api/adduser',
            data: JSON.stringify({
                firstname:'Francis',
                lastname:'Jones'
            }),
            contentType:'application/json'
        })
    </script>
</html>

